.bgColor{
  background-color: aliceblue;
}

.b1{
  border: 2px solid red;
}
.topNav{
  min-height: 5vh;
  border-bottom: 3px solid rgba(181, 181, 181, 0.327);
  
}
.bor-bot{
  border-bottom: 2px solid rgba(117, 117, 117, 0.83);
}
.gray-text{
  color: rgba(101, 101, 101, 0.881);
  font-weight: 600;
}
.sideNav{
  transition: .3s;

}